spyglass_reports/
*.swp
*.tmp
lib_module/
modelsim.ini
transcript
vsim.wlf
Makefile_test
doc/specifications/*/*.aux
doc/specifications/*/*.log
doc/specifications/*/*.toc
doc/specifications/*/*.out
doc/specifications/*/*synctex.gz
*.vcd
.vscode/
*.cache/
.ctags.d/
sim
bootrom.hex
!fpga/meep_shell/bootrom.hex
signature.txt
.svls.toml
*.gtkw
benchmarks/
.patched
sim-meep